.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
}

#menu {
    background: #191818;
    bottom: 0;
    overflow-y: auto;
    width: 160px;
    z-index: 7;
    height: 100vh;
    position: fixed;
    width: 180px;
}

.pure-menu-item {
    height: initial;
}

.pure-menu-selected,
.pure-menu-selected {
    background-color: #cccccc;
}

.fade {
    transition: ease 400ms opacity, ease 400ms filter;
}

#time-list {
    list-style-type: none;
}

#time-list li {
    height: 45px;
}

.day {
    width: 100%;
}

.day-title {
    font-size: 14pt;
    margin-left: 5px;
}

.shift {
    background-color: #333333;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    width: calc(((100vw - 180px) * 5/6 * 3/24) - 16px);
    margin: 0 3px;
    transition: ease 200ms background, ease 200ms color;
}

.shift-label {
    font-weight: 700;
    font-size: 14pt;
    color: white;
}

.shift-time {
    color: #999999;
    display: block;
}

.shift-disabled {
    background-color: #666666;
}

.shift-selected {
    background-color: #6666ff;
}

.shift-selected .shift-time {
    color: #cccccc;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 100;
}

.overlay-card {
    width: 50vw;
    padding: 0 15px 15px 15px;
    position: absolute;
    top: 33vh;
    margin: 0 25vw;
    background-color: white;
    text-align: center;
}

.blur {
    filter: blur(2px);
}

.schedule-status {
    margin-bottom: 10px;
}